<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charst="utf-8" />
    <title>JSON Placeholder</title>

    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>

    <!-- Bootstrap -->

    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
    />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- Custom JavaScript -->
    <script>
      function getParam(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
          results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return "";
        return decodeURIComponent(results[2].replace(/\+/g, " "));
      }
      $(document).ready(function () {
        $.ajax({
          url: "http://localhost:8080/api/sysgrps/" + getParam("id"),
        }).then(function (data) {
          console.log(data.id);
          $("#name").val(data.name);
          $("#id").val(data.id);
          // for debug
          console.log(data);
        });
      });
      $(function () {
        $("button#delete").click(function () {
          var button = $(this);
          button.attr("disabled", true);

          $.ajax({
            type: "get",
            url: "http://localhost:8080/api/sysgrps/delete/" + $("#id").val(),
          })
            .done(function (data) {
              alert("success");
              location.href = "/sysgrps/";
            })
            .fail(function () {
              alert("Error has occured.");
            })
            .then(function () {
              button.attr("disabled", false);
            });
        });
      });
    </script>
  </head>

  <body>
    <h1>JSON Placeholder API</h1>

    <!-- ユーザーデータを以下に格納 -->
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" disabled />
      <input type="hidden" id="id" class="form-control" />
    </div>
    <div class="control-grpup">
      <div class="controls">
        <button id="delete" type="button">Delete</button>
      </div>
    </div>
  </body>
</html>
