<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head
    th:replace="common :: meta_header('Sysgrps/delete',~{::link},~{::script})"
  >
    <!-- Custom JavaScript -->
    <script>
      $(document).ready(function () {
        $.ajax({
          url: "http://localhost:8080/api/sysgrps/" + getParam("id"),
        }).then(function (data) {
          console.log(data.id);
          $("#name").val(data.name);
          $("#id").val(data.id);
          // for debug
          console.log(data);
        });
      });
      $(function () {
        $("button#delete").click(function () {
          var button = $(this);
          button.attr("disabled", true);

          $.ajax({
            type: "get",
            url: "http://localhost:8080/api/sysgrps/delete/" + $("#id").val(),
          })
            .done(function (data) {
              alert("success");
              location.href = "/sysgrps/";
            })
            .fail(function () {
              alert("Error has occured.");
            })
            .then(function () {
              button.attr("disabled", false);
            });
        });
      });
    </script>
  </head>

  <body>
    <div th:replace="common :: header"></div>

    <!-- ユーザーデータを以下に格納 -->
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" disabled />
      <input type="hidden" id="id" class="form-control" />
    </div>
    <div class="control-grpup">
      <div class="controls">
        <button id="delete" type="button">Delete</button>
      </div>
    </div>
    <div th:replace="common :: footer"></div>
  </body>
</html>
