<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head
    th:replace="common :: meta_header('Sysgrps/delete',~{::link},~{::script})"
  >
    <!-- Custom JavaScript -->
    <script>
      $(document).ready(function () {
        $.ajax({
          url: "http://localhost:8080/api/sysgrps/" + getParam("id"),
        }).then(function (data) {
          console.log(data.id);
          $("#name").val(data.name);
          $("#id").val(data.id);
          // for debug
          console.log(data);
        });
      });
      $(function () {
        $("button#update").click(function () {
          var button = $(this);
          button.attr("disabled", true);

          var data = {
            name: $("#name").val(),
          };

          $.ajax({
            type: "post",
            url: "http://localhost:8080/api/sysgrps/edit/" + $("#id").val(),
            data: JSON.stringify(data),
            contentType: "application/json",
            dataType: "json",
          })
            .done(function (data) {
              alert("success");
              location.href = "/sysgrps/";
            })
            .fail(function () {
              alert("Error has occured.");
            })
            .then(function () {
              button.attr("disabled", false);
            });
        });
      });
    </script>
  </head>

  <body>
    <div class="container-fluid">
      <div th:replace="common :: header"></div>

      <!-- ユーザーデータを以下に格納 -->
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" class="form-control" />
        <input type="hidden" id="id" class="form-control" />
      </div>
      <div class="control-grpup">
        <div class="controls">
          <button id="update" type="button">Update</button>
        </div>
      </div>
      <div th:replace="common :: footer"></div>
    </div>
  </body>
</html>
